<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<title>GRAPE</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
		<link rel="stylesheet" href="css/animate.css" type="text/css">
		<link href="css/hover.css" rel="stylesheet" media="all">

	</head>

	<body>

    <div class="container">
      <div id="introPage" class="text-center animated fadeInDown" style="margin-top:10%;">
        <img class="logoimg" src="img/grapelogo.png" alt="logo"/>
        <p style="margin:10%;">People want to do good deeds, but life gets in the way. We often become so
            absorbed in our own activities and work that we forget to acknowledge others or
            even ourselves. By doing good deeds regularly and keeping track of them, we can
            make time and strive to create a positive environment around us and to make
            ourselves happy.</p>
        <a id="start" href="index2"><input class="btn btn-lg" value="Start Your Grapevine"/></a>
      </div>
    </div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		{{> googleAnalytics}}

	</body>
</html>
